{{>partial_header}}
using System;
using System.Linq;
using System.IO;
using System.Text;
using System.Collections;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.ComponentModel.DataAnnotations;
using System.Runtime.Serialization;
using Newtonsoft.Json;
using HomesEngland.Domain;
using System.ComponentModel.DataAnnotations;
using System.ComponentModel.DataAnnotations.Schema;
using HomesEngland.UseCase.CreateAsset.Models;

{{#models}}
{{#model}}
namespace HomesEngland.Domain
{ {{#isEnum}}{{>enumClass}}{{/isEnum}}{{^isEnum}}
    /// <summary>
    /// {{description}}
    /// </summary>
    public class {{classname}}: I{{classname}}
    { 
        public int Id { get; set; }
        public DateTime ModifiedDateTime { get; set; }
        public int? DocumentVersionId { get; set; }
        
        {{#vars}}{{#isEnum}}{{>enumClass}}{{/isEnum}}{{#items.isEnum}}{{#items}}{{>enumClass}}{{/items}}{{/items.isEnum}}
        /// <summary>
        /// {{^description}}Gets or Sets {{{name}}}{{/description}}{{#description}}{{description}}{{/description}}
        /// </summary>
        {{#description}}
        /// <value>{{description}}</value>
        {{/description}}
        [Name("{{baseName}}")]
        {{#isEnum}}
        public {{{datatypeWithEnum}}}{{#isEnum}}{{^isContainer}}?{{/isContainer}}{{/isEnum}} {{name}} { get; set; }
        {{/isEnum}}
        {{^isEnum}}
        public {{{datatype}}} {{name}} { get; {{#isReadOnly}}private {{/isReadOnly}}set; }
        {{/isEnum}}
        {{#hasMore}}
        {{/hasMore}}
        {{/vars}}

        public {{classname}}(){}

        public {{classname}}(Create{{classname}}Request request)
        {
            {{#vars}}
            {{name}} = request.{{name}};
            {{/vars}}
        }
        public {{classname}}(I{{classname}} document){
            {{#vars}}
            {{name}} = document.{{name}};
            {{/vars}}
        }
    }
{{/isEnum}}
{{/model}}
{{/models}}
}
