
using System;
using System.Linq;
using System.IO;
using System.Text;
using System.Collections;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.ComponentModel.DataAnnotations;
using System.Runtime.Serialization;
using Newtonsoft.Json;
using HomesEngland.Domain;
using System.ComponentModel.DataAnnotations;
using System.ComponentModel.DataAnnotations.Schema;
using HomesEngland.Domain;

{{#models}}
{{#model}}
namespace HomesEngland.Gateway
{ {{#isEnum}}{{>enumClass}}{{/isEnum}}{{^isEnum}}
    /// <summary>
    /// {{description}}
    /// </summary>
    public class {{classname}}Entity : I{{classname}}
    { 
        [Key]
        [DatabaseGenerated(DatabaseGeneratedOption.Identity)]
        public int Id { get; set; }
        public DateTime ModifiedDateTime { get; set; }

        public int? DocumentVersionId { get; set; }

        [ForeignKey("DocumentVersionId")]
        public DocumentVersionEntity DocumentVersionEntity { get; set; }
        
        {{#vars}}{{#isEnum}}{{>enumClass}}{{/isEnum}}{{#items.isEnum}}{{#items}}{{>enumClass}}{{/items}}{{/items.isEnum}}
        {{#description}}
        /// <value>{{description}}</value>
        {{/description}}
        {{#required}}
        {{/required}}
        {{#isEnum}}
        public {{{datatypeWithEnum}}}{{#isEnum}}{{^isContainer}}?{{/isContainer}}{{/isEnum}} {{name}} { get; set; }
        {{/isEnum}}
        {{^isEnum}}
        public {{{datatype}}} {{name}} { get; {{#isReadOnly}}private {{/isReadOnly}}set; }
        {{/isEnum}}
        {{#hasMore}}
        {{/hasMore}}
        {{/vars}}

        public {{classname}}Entity(){}

        public {{classname}}Entity(I{{classname}} document){
            Id = document.Id;
            ModifiedDateTime = document.ModifiedDateTime;
            DocumentVersionId = document.DocumentVersionId;
            {{#vars}}
            {{name}} = document.{{name}};
            {{/vars}}
        }
    }
{{/isEnum}}
{{/model}}
{{/models}}
}
