
using System;
using HomesEngland.Domain;

{{#models}}
{{#model}}
namespace HomesEngland.UseCase.GetDocument.Models
{ {{#isEnum}}{{>enumClass}}{{/isEnum}}{{^isEnum}}

    /// <summary>
    /// {{description}}
    /// </summary>
    public class {{classname}}OutputModel
    { 
        public int Id { get; set; }
        public DateTime ModifiedDateTime { get; set; }
        public int? DocumentVersionId { get; set; }
        {{#vars}}{{#isEnum}}{{>enumClass}}{{/isEnum}}{{#items.isEnum}}{{#items}}{{>enumClass}}{{/items}}{{/items.isEnum}}
        /// <summary>
        /// {{^description}}Gets or Sets {{{name}}}{{/description}}{{#description}}{{description}}{{/description}}
        /// </summary>
        {{#description}}
        /// <value>{{description}}</value>
        {{/description}}
        {{#isEnum}}
        public {{{datatypeWithEnum}}}{{#isEnum}}{{^isContainer}}?{{/isContainer}}{{/isEnum}} {{name}} { get; set; }
        {{/isEnum}}
        {{^isEnum}}
        public {{{datatype}}} {{name}} { get; {{#isReadOnly}}private {{/isReadOnly}}set; }
        {{/isEnum}}
        {{#hasMore}}
        {{/hasMore}}
        {{/vars}}

        public {{classname}}OutputModel(){}

        public {{classname}}OutputModel(I{{classname}} document){
            Id = document.Id;
            ModifiedDateTime = document.ModifiedDateTime;
            DocumentVersionId = document.DocumentVersionId;
            {{#vars}}
            {{name}} = document.{{name}};
            {{/vars}}
        }
    }
{{/isEnum}}
{{/model}}
{{/models}}
}
